@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --primary: #F72798;
  --secondary: #F57D1F;
  --accent: #EBF400;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
}
